<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velox | Premium Shoes & Sandals</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/shop.css">
    <link rel="stylesheet" href="/stylesheets/createproducts.css">
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <link rel="stylesheet" href="/stylesheets/account.css">
</head>
<body>

    <header class="navbar">
        <div class="nav-container">
            <a href="/" class="logo">VELOX<span>.</span></a>
            <nav class="nav-menu">


                <a href="/">Home</a>
                <a href="/shop">Shop</a>


                <% if(user){ %>
                    <a href="/cart">Cart</a>
                    <a href="/account">My Account</a>
                    <a href="/users/logout" class="nav-btn btn-primary">Logout</a>
                <% } else { %>


                <a href="/users/login" class="nav-btn">Login</a>
                <a href="/users/register" class="nav-btn btn-primary">Register</a>
                <% } %>


            </nav>
        </div>
</header>