<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Velox Register</title>

<link rel="stylesheet" href="/stylesheets/style.css">

<link rel="stylesheet" href="/stylesheets/register.css">

</head>

<body>

<div id="header"></div>
<%- include("partials/header") %>

<section class="register-section">

<div class="register-card">

<h2>Create Account</h2>

<p>Join VELOX today.</p>

<form>

<div class="name-row">

    <div class="input-box">
        <input type="text" name="firstName" placeholder="First Name" required>
    </div>

    <div class="input-box">
        <input type="text" name="lastName" placeholder="Last Name" required>
    </div>

</div>

<div class="input-box">
<input type="email" placeholder="Email" required>
</div>

 <!-- Phone -->
    <div class="input-box">
        <input type="tel" name="phone" placeholder="Phone Number" required>
    </div> 

<div class="input-box">
<input type="password" placeholder="Password" required>
</div>

<div class="input-box">
<input type="password" placeholder="Confirm Password" required>
</div>

<button>Create Account</button>

<p class="bottom-text">

Already have an account?

<a href="/login">Login</a>

</p>

</form>

</div>

</section>

<%- include("partials/footer") %>
<div id="footer"></div>

</body>

</html>